In [118]:

import os
import pandas as pd
import ast

In [63]:
#               kaggle datasets download -d piterfm/paris-2024-olympic-summer-games

In [70]:
filepath = "./paris-2024-olympic-summer-games"

In [76]:
dataset_dict = dict()
for x in os.listdir(filepath):
    dataset_path = filepath + '/' + x
    dataset_name = x.split(".")[0]
    dataset = pd.read_csv(dataset_path)
    dataset_dict[dataset_name] = dataset

In [99]:
for x in dataset_dict:
    print(x, dataset_dict[x].columns)

venues Index(['venue', 'sports', 'date_start', 'date_end', 'tag', 'url'], dtype='object')
teams Index(['code', 'team', 'team_gender', 'country', 'country_full',
       'country_code', 'discipline', 'disciplines_code', 'events', 'athletes',
       'coaches', 'athletes_codes', 'num_athletes', 'coaches_codes',
       'num_coaches'],
      dtype='object')
athletes Index(['code', 'name', 'name_short', 'name_tv', 'gender', 'function',
       'country_code', 'country', 'country_full', 'nationality',
       'nationality_full', 'nationality_code', 'height', 'weight',
       'disciplines', 'events', 'birth_date', 'birth_place', 'birth_country',
       'residence_place', 'residence_country', 'nickname', 'hobbies',
       'occupation', 'education', 'family', 'lang', 'coach', 'reason', 'hero',
       'influence', 'philosophy', 'sporting_relatives', 'ritual',
       'other_sports'],
      dtype='object')
medallists Index(['medal_date', 'medal_type', 'medal_code', 'name', 'gender', 'country',
       'country_code', 'nationality', 'team', 'team_gender', 'discipline',
       'event', 'event_type', 'url_event', 'birth_date', 'code'],
      dtype='object')
medals_total Index(['country_code', 'Gold Medal', 'Silver Medal', 'Bronze Medal', 'Total'], dtype='object')
schedules Index(['start_date', 'end_date', 'day', 'status', 'discipline',
       'discipline_code', 'event', 'event_medal', 'phase', 'gender',
       'event_type', 'venue', 'venue_code', 'location_description',
       'location_code', 'url'],
      dtype='object')
torch_route Index(['title', 'city', 'date_start', 'date_end', 'tag', 'url',
       'stage_number'],
      dtype='object')
medals Index(['medal_type', 'medal_code', 'medal_date', 'name', 'country_code',
       'gender', 'discipline', 'event', 'event_type', 'url_event', 'code'],
      dtype='object')
events Index(['event', 'tag', 'sport', 'sport_code', 'sport_url'], dtype='object')
schedules_preliminary Index(['date_start_utc', 'date_end_utc', 'estimated', 'estimated_start',
       'start_text', 'medal', 'venue_code', 'description', 'venue_code_other',
       'discription_other', 'team_1_code', 'team_1', 'team_2_code', 'team_2',
       'tag', 'sport', 'sport_code', 'sport_url'],
      dtype='object')

## Venues

In [171]:
x = dataset_dict['venues']

In [172]:


def convert_to_csv(cell):
    try:
        # Evaluate the string as a literal list
        lst = ast.literal_eval(cell)
        # Join the elements, preserving the words
        return ', '.join(lst)
    except:
        # If evaluation fails, return the original string
        return cell

# Assuming your DataFrame is named 'df' and the column with list-like strings is named 'list_column'
x['sports'] = x['sports'].apply(convert_to_csv)

In [173]:
x = x.drop(columns=['date_start', 'date_end', 'url'])

In [177]:
x

,venue,sports,tag
0,Aquatics Centre,"Artistic Swimming, Diving, Water Polo",aquatics-centre
1,Bercy Arena,"Artistic Gymnastics, Basketball, Trampoline",bercy-arena
2,Bordeaux Stadium,Football,bordeaux-stadium
3,Champ de Mars Arena,"Judo, Wrestling",champ-de-mars-arena
4,Château de Versailles,"Equestrian, Modern Pentathlon",chateau-de-versailles
5,Chateauroux Shooting Centre,Shooting,chateauroux-shooting-centre
6,Eiffel Tower Stadium,Beach Volleyball,eiffel-tower-stadium
7,Elancourt Hill,Cycling Mountain Bike,elancourt-hill
8,Geoffroy-Guichard Stadium,Football,geoffroy-guichard-stadium
9,Grand Palais,"Fencing, Taekwondo",grand-palais
10,Hôtel de Ville,Athletics,hotel-de-ville
11,Invalides,"Archery, Athletics, Cycling Road",invalides
12,La Beaujoire Stadium,Football,la-beaujoire-stadium
13,La Concorde,"3x3 Basketball, Breaking, Cycling BMX Freestyl...",la-concorde
14,Le Bourget Sport Climbing Venue,Sport Climbing,le-bourget-climbing-venue
15,Golf National,Golf,le-golf-national
16,Lyon Stadium,Football,lyon-stadium
17,Marseille Marina,Sailing,marseille-marina
18,Marseille Stadium,Football,marseille-stadium
19,Nice Stadium,Football,nice-stadium
20,North Paris Arena,"Boxing, Modern Pentathlon",north-paris-arena
21,Parc des Princes,Football,parc-des-princes
22,Paris La Defense Arena,"Swimming, Water Polo",paris-la-defense-arena
23,Pierre Mauroy Stadium,"Basketball, Handball",pierre-mauroy-stadium
24,Pont Alexandre III,"Cycling Road, Marathon Swimming, Triathlon",pont-alexandre-iii
25,Porte de La Chapelle Arena,"Badminton, Rhythmic Gymnastics",porte-de-la-chapelle-arena
26,Stade Roland-Garros,"Boxing, Tennis",roland-garros-stadium
27,Saint-Quentin-en-Yvelines BMX Stadium,Cycling BMX Racing,saint-quentin-en-yvelines-bmx-stadium
28,Saint-Quentin-en-Yvelines Velodrome,Cycling Track,saint-quentin-en-yvelines-velodrome
29,South Paris Arena,"Handball, Table Tennis, Volleyball, Weightlifting",south-paris-arena
30,Stade de France,"Athletics, Rugby Sevens",stade-de-france
31,"Teahupo'o, Tahiti",Surfing,teahupo-o-tahiti
32,Trocadéro,"Athletics, Cycling Road",trocadero
33,Vaires-sur-Marne Nautical Stadium,"Canoe Slalom, Canoe Sprint, Rowing",vaires-sur-marne-nautical-stadium
34,Yves-du-Manoir Stadium,Hockey,yves-du-manoir-stadium

## Athletes

In [122]:
x = dataset_dict['athletes']

In [127]:
columns = ['code', 'name', 'name_short', 'name_tv', 'gender', 'function',
       'country_code', 'country', 'country_full', 'nationality',
       'nationality_full', 'nationality_code', 'height', 'weight',
       'disciplines', 'events', 'birth_date']

In [128]:
x = x[columns]

In [132]:
x[x["code"] == 1903136]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,nationality_full,nationality_code,height,weight,disciplines,events,birth_date
4261,1903136,EVENEPOEL Remco,EVENEPOEL R,Remco EVENEPOEL,Male,Athlete,BEL,Belgium,Belgium,Belgium,Belgium,BEL,0,0.0,['Cycling Road'],"[""Men's Road Race"", ""Men's Individual Time Tri...",2000-01-25

## Teams

In [134]:
x = dataset_dict["teams"]

In [136]:
x[x["country"] == "China"]

,code,team,team_gender,country,country_full,country_code,discipline,disciplines_code,events,athletes,coaches,athletes_codes,num_athletes,coaches_codes,num_coaches
0,ARCMTEAM3---CHN01,People's Republic of China,M,China,People's Republic of China,CHN,Archery,ARC,Men's Team,"['KAO Wenchao', 'LI Zhongyuan', 'WANG Yan']",NaN,"['1913366', '1913367', '1913369']",3.0,NaN,NaN
12,ARCWTEAM3---CHN01,People's Republic of China,W,China,People's Republic of China,CHN,Archery,ARC,Women's Team,"['AN Qixuan', 'LI Jiaman', 'YANG Xiaolei']",NaN,"['1913382', '1913372', '1913380']",3.0,NaN,NaN
27,ARCXTEAM2---CHN01,People's Republic of China,X,China,People's Republic of China,CHN,Archery,ARC,Mixed Team,"['YANG Xiaolei', 'WANG Yan']",NaN,"['1913380', '1913369']",2.0,NaN,NaN
54,ATHM4X100M--CHN01,People's Republic of China,M,China,People's Republic of China,CHN,Athletics,ATH,Men's 4 x 100m Relay,"['CHEN Jiapeng', 'DENG Zhijian', 'WU Zhiqiang'...",NaN,"['1918954', '1918936', '1918961', '1918943', '...",5.0,NaN,NaN
119,ATHX42KWALKTCHN01,ZHANG Jun / LIU Hong,X,China,People's Republic of China,CHN,Athletics,ATH,Marathon Race Walk Relay Mixed,"['ZHANG Jun', 'LIU Hong']",NaN,"['1918996', '1919006']",2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,TTEWTEAM----CHN01,People's Republic of China,W,China,People's Republic of China,CHN,Table Tennis,TTE,Women's Team,"['CHEN Meng', 'SUN Yingsha', 'WANG Manyu']",NaN,"['1902307', '1902313', '1902314']",3.0,NaN,NaN
1590,TTEXDOUBLES-CHN01,WANG Chuqin / SUN Yingsha,X,China,People's Republic of China,CHN,Table Tennis,TTE,Mixed Doubles,"['WANG Chuqin', 'SUN Yingsha']",NaN,"['1902301', '1902313']",2.0,NaN,NaN
1633,VBVWTEAM2---CHN01,Xue/X.Y.Xia,W,China,People's Republic of China,CHN,Beach Volleyball,VBV,Women,"['XUE Chen', 'XIA Xinyi']",NaN,"['1898475', '1898476']",2.0,NaN,NaN
1665,VVOWTEAM6---CHN01,People's Republic of China,W,China,People's Republic of China,CHN,Volleyball,VVO,Women,"['YUAN Xinyue', 'DIAO Linyu', 'GAO Yi', 'GONG ...","['LAI Yawen', 'CAI Bin', 'LI Yanlong', 'YUAN Z...","['1913664', '1913646', '1913648', '1913649', '...",13.0,"['1898540', '1913681', '1913682', '1913683', '...",7.0
1690,WPOWTEAM7---CHN01,People's Republic of China,W,China,People's Republic of China,CHN,Water Polo,WPO,Women,"['DONG Wenxin', 'YAN Siya', 'YAN Jing', 'XIONG...","['GOMEZ AGUERA Salvador Emilio', 'JANE GIRALT ...","['1927247', '1927261', '1927262', '1927260', '...",13.0,"['1927270', '1927271', '1927274', '9450008', '...",5.0

## medals_total

In [137]:
x = dataset_dict["medals_total"]

In [138]:
x

   country_code  Gold Medal  Silver Medal  Bronze Medal  Total
0           USA          19            26            26     71
1           CHN          19            15            11     45
2           FRA          12            14            18     44
3           AUS          12            11             8     31
4           GBR          10            12            15     37
..          ...         ...           ...           ...    ...
63          EGY           0             0             1      1
64          LTU           0             0             1      1
65          MAS           0             0             1      1
66          POR           0             0             1      1
67          SVK           0             0             1      1

[68 rows x 5 columns]

## Schedules

In [190]:
x = dataset_dict['schedules']

In [191]:
def remove_numbers(string):
    new_string = str()
    for x in string:
        if not x.isdigit():
            new_string += x.strip()
    return new_string

In [200]:
x['venue_code'] = x['venue_code'].apply(lambda x: remove_numbers(x) if isinstance(x, str) else x)

In [208]:
x['venue'] = x['venue'].apply(lambda x: remove_numbers(x) if isinstance(x, str) else x)

In [211]:
x

,start_date,end_date,day,status,discipline,discipline_code,event,event_medal,phase,gender,event_type,venue,venue_code,location_description,location_code,url
0,2024-07-24T15:00:00+02:00,2024-07-24T16:45:00+02:00,2024-07-24,FINISHED,Football,FBL,Men,0,Men's Group B,M,HTEAM,Geoffroy-Guichard Stadium,STE,"Geoffroy-Guichard Stadium, Saint-Etienne",STE,/en/paris-2024/results/football/men/gpb-000100--
1,2024-07-24T15:00:00+02:00,2024-07-24T16:45:00+02:00,2024-07-24,FINISHED,Football,FBL,Men,0,Men's Group C,M,HTEAM,Parc des Princes,PDP,"Parc des Princes, Paris",PDP,/en/paris-2024/results/football/men/gpc-000100--
2,2024-07-24T15:30:00+02:00,2024-07-24T15:46:00+02:00,2024-07-24,FINISHED,Rugby Sevens,RU7,Men,0,Men's Pool B,M,HTEAM,Stade de France,STA,Stade de France,STA,/en/paris-2024/results/rugby-sevens/men/gpb-00...
3,2024-07-24T16:00:00+02:00,2024-07-24T16:16:00+02:00,2024-07-24,FINISHED,Rugby Sevens,RU7,Men,0,Men's Pool B,M,HTEAM,Stade de France,STA,Stade de France,STA,/en/paris-2024/results/rugby-sevens/men/gpb-00...
4,2024-07-24T16:30:00+02:00,2024-07-24T16:46:00+02:00,2024-07-24,FINISHED,Rugby Sevens,RU7,Men,0,Men's Pool C,M,HTEAM,Stade de France,STA,Stade de France,STA,/en/paris-2024/results/rugby-sevens/men/gpc-00...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3671,2024-08-11T13:45:00+02:00,2024-08-11T13:55:00+02:00,2024-08-11,SCHEDULED,Wrestling,WRE,Women's Freestyle 76kg,1,WFS 76kg Final,W,HATH,Champ-de-Mars Arena,CDM,Champ-de-Mars Arena,CDM,/en/paris-2024/results/wrestling/women-s-frees...
3672,2024-08-11T13:56:00+02:00,2024-08-11T14:28:00+02:00,2024-08-11,SCHEDULED,Cycling Track,CTR,Women's Omnium,1,"Women's Omnium, Points Race 4/4",W,ATH,National Velodrome,VE,Saint-Quentin-en-Yvelines Velodrome,VE1,/en/paris-2024/results/cycling-track/women-s-o...
3673,2024-08-11T14:00:00+02:00,2024-08-11T15:25:00+02:00,2024-08-11,SCHEDULED,Water Polo,WPO,Men,1,Men's Finals,M,HTEAM,Paris La Defense Arena,DEF,Paris La Defense Arena,DEF,/en/paris-2024/results/water-polo/men/fnl-0001...
3674,2024-08-11T15:30:00+02:00,2024-08-11T17:15:00+02:00,2024-08-11,SCHEDULED,Basketball,BKB,Women,1,Women's Finals,W,HTEAM,Bercy Arena,BCY,Bercy Arena,BCY,/en/paris-2024/results/basketball/women/fnl-00...
3675,2024-08-11T20:00:00+02:00,NaN,2024-08-11,NaN,Closing Ceremony,CER,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Event

In [158]:
x = dataset_dict['events']

In [159]:
x[x['event'] == "Women's Doubles"]

,event,tag,sport,sport_code,sport_url
72,Women's Doubles,badminton,Badminton,BDM,https://olympics.com/en/paris-2024/sports/badm...
290,Women's Doubles,tennis,Tennis,TEN,https://olympics.com/en/paris-2024/sports/tennis

## medalists

In [160]:
x = dataset_dict['medallists']

In [161]:
x

,medal_date,medal_type,medal_code,name,gender,country,country_code,nationality,team,team_gender,discipline,event,event_type,url_event,birth_date,code
0,2024-07-27,Gold Medal,1,EVENEPOEL Remco,Male,Belgium,BEL,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136
1,2024-07-27,Silver Medal,2,GANNA Filippo,Male,Italy,ITA,Italy,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520
2,2024-07-27,Bronze Medal,3,van AERT Wout,Male,Belgium,BEL,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147
3,2024-07-27,Gold Medal,1,BROWN Grace,Female,Australia,AUS,Australia,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173
4,2024-07-27,Silver Medal,2,HENDERSON Anna,Female,Great Britain,GBR,Great Britain,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,2024-08-04,Gold Medal,1,PAOLINI Jasmine,Female,Italy,ITA,Italy,Errani / Paolini,W,Tennis,Women's Doubles,HCOUP,/en/paris-2024/results/tennis/women-s-doubles/...,1996-01-04,1910330
1006,2024-08-04,Silver Medal,2,ANDREEVA Mirra,Female,AIN,AIN,Russian Federation,Andreeva / Shnaider,W,Tennis,Women's Doubles,HCOUP,/en/paris-2024/results/tennis/women-s-doubles/...,2007-04-29,1979734
1007,2024-08-04,Silver Medal,2,SHNAIDER Diana,Female,AIN,AIN,Russian Federation,Andreeva / Shnaider,W,Tennis,Women's Doubles,HCOUP,/en/paris-2024/results/tennis/women-s-doubles/...,2004-04-02,1979732
1008,2024-08-04,Bronze Medal,3,BUCSA Cristina,Female,Spain,ESP,Spain,Bucsa / Sorribes Tormo,W,Tennis,Women's Doubles,HCOUP,/en/paris-2024/results/tennis/women-s-doubles/...,1998-01-01,1563687
1009,2024-08-04,Bronze Medal,3,SORRIBES TORMO Sara,Female,Spain,ESP,Spain,Bucsa / Sorribes Tormo,W,Tennis,Women's Doubles,HCOUP,/en/paris-2024/results/tennis/women-s-doubles/...,1996-10-08,1563681

In [164]:
import numpy as np

In [168]:
x['team'].dropna()

354     People's Republic of China
355     People's Republic of China
356       United States of America
357       United States of America
358                  Great Britain
                   ...
1005              Errani / Paolini
1006           Andreeva / Shnaider
1007           Andreeva / Shnaider
1008        Bucsa / Sorribes Tormo
1009        Bucsa / Sorribes Tormo
Name: team, Length: 656, dtype: object

## Medals - Not Useful

In [169]:
x = dataset_dict['medals']

In [170]:
x

,medal_type,medal_code,medal_date,name,country_code,gender,discipline,event,event_type,url_event,code
0,Gold Medal,1,2024-07-27,Remco EVENEPOEL,BEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903136
1,Silver Medal,2,2024-07-27,Filippo GANNA,ITA,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1923520
2,Bronze Medal,3,2024-07-27,Wout van AERT,BEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903147
3,Gold Medal,1,2024-07-27,Grace BROWN,AUS,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1940173
4,Silver Medal,2,2024-07-27,Anna HENDERSON,GBR,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1912525
...,...,...,...,...,...,...,...,...,...,...,...
506,Gold Medal,1,2024-08-04,Novak DJOKOVIC,SRB,M,Tennis,Men's Singles,HATH,/en/paris-2024/results/tennis/men-s-singles/fn...,1956398
507,Silver Medal,2,2024-08-04,Carlos ALCARAZ,ESP,M,Tennis,Men's Singles,HATH,/en/paris-2024/results/tennis/men-s-singles/fn...,1563682
508,Gold Medal,1,2024-08-04,ERRANI/PAOLINI,ITA,W,Tennis,Women's Doubles,HCOUP,/en/paris-2024/results/tennis/women-s-doubles/...,TENWDOUBLES-ITA01
509,Silver Medal,2,2024-08-04,ANDREEVA/SHNAIDER,AIN,W,Tennis,Women's Doubles,HCOUP,/en/paris-2024/results/tennis/women-s-doubles/...,TENWDOUBLES-AIN02
510,Bronze Medal,3,2024-08-04,BUCSA/SORRIBES TORMO,ESP,W,Tennis,Women's Doubles,HCOUP,/en/paris-2024/results/tennis/women-s-doubles/...,TENWDOUBLES-ESP01